@mixin flex-center {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_g {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	word-spacing: 6px;
	font-weight: bold;
	background-color: #1897ba;
	justify-content: flex-start;
	@include flex_g;
}

.main {
	background: url('img/background.png') no-repeat center;
	background-size: cover;
	width: 100%;
	max-width: 2000px;
	height: 100%;
	justify-content: center;
	align-items: flex-start;
	@include flex_g;

	.img_plane {
		position: absolute;
		height: 40%;
		right: 0;
		bottom: 250px;
	}

	.img_jet {
		position: absolute;
		height: 100px;
		left: 50px;
		bottom: 20%;
	}
}

.game_cont {
	position: relative;
	height: auto;
	width: 50%;
	width: 700px;
	border: solid 3px hotpink;
	flex-direction: column;
	z-index: 1;
	@include flex_center;
}

.lottery_cont {
	position: relative;
	height: auto;
	min-height: 485px;
	margin: 135px 0 50px 0;
	width: 100%;
	background-color: lightblue;
	background: url('img/background-ticket.png');
	border: solid 25px white;
	flex-direction: column;
	align-items: center;
	@include flex_g;

	.logo_cont {
		margin: -145px auto 0 auto;
		width: 250px;
		height: 250px;
		border-radius: 50%;
		border: 10px solid white;
		background-color: rgb(255, 253, 246);
		@include flex_center;

		.logo {
			height: 30px;
			font-size: 70px;
			@include flex_center;
		}
	}

	.lottery {
		flex-direction: column;
		height: -webkit-calc(100% - 155px);
		margin-bottom: 30px;
		text-align: center;
		width: 95%;
		justify-content: space-around;
		align-items: center;
		@include flex_g;

		* {
			margin-top: 30px;
		}

		.text_discover {
			font-weight: 500;
			font-size: 20px;
		}

		.img_dashes {
			width: 95%;
		}

		.dashes1 {
			.step1 & {
				display: none;
			}
			.step2 & {
				@include flex_g;
			}
		}

		.dashes2 {
			.step1 &, .step2 & {
				display: none;
			}
			.step3 & {
				@include flex_g;
			}
		}			

		.results_cont, .share_cont {
			width: 75%;
			height: 100%;
			flex-direction: column;
			align-items: center;

			.step1 &, .step2 & {
				display: none;
			}
			.step3a & {	
				@include flex_g;
			}	
			
			.results_tit {}
		
			.img_congrats {
				width: 60%;
			}

			.winnings_tit {}

			.winnings {
				color: white;
				background-color: rgba(0,0,0,0.7);
				font-size: 30px;
				width: 250px;
				margin-top: 8px;
				letter-spacing: 3px;
				// will need to be centered etc...
			}

			.winnings_chart {
				width: 100%;
				flex-direction: row;
				justify-content: space-between;
				display: inherit;
				font-size: 18px;
				font-weight: normal;
				.win_LHS {
					text-align: left;
				}
				.win_RHS {
					text-align: right;
				}
				.win {
					margin-top: 0;
				}
			}

			.share_tit {}
			.share_btns_cont {

				display: inherit;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				// font-size: 25px;

				#embed_btn, #share_btn {
					color: white;
					background-color: rgba(0,0,0,0.7);
					padding: 15px 30px;
					
				}
				#embed_btn {}
				#share_btn {}
			}
		}

		.text_prompt {
			.step1 & {
				@include flex_g;
			}

			.step2 &, .step3a & {
				display: none;
			}	
		}

		.form1 {
			flex-direction: row;
			@include flex_g;

			.step2 &, .step3a & {
				display: none;
			}

			input {
				.step1 & {
					width: 60px;
					height: 40px;
					margin: 0 5px;
					font-size: 30px;
					font-weight: bold;
					text-align: center;
				}
				.step2 & {
					display: none;
				}
			}
		}

		.submit_btn {
			.step1 & {
				background-color: rgba(0,0,0,0.7);
				padding: 10px 20px;
				box-shadow: 1px 1px 3px gray;
				color: white;
				font-size: 20px;
				font-weight: 500;
				cursor: pointer;
				@include flex_g;
			}

			.step2 &, .step3a & {
				display: none;
			}
		}
		
		.num_tit {
			.step1 & {
				display: none;
			}
		}

		.num_display {
			.step1 & {
				display: none;
			}
			.step2 & {
				letter-spacing: 20px;
				font-size: 24px;
			}
		}


		.calculating_cont {
			.step1 &, .step3a & {
				display: none;
			}
			.step2 & {
				flex-direction: column;
				align-items: center;
				@include flex_g;
			}

			.calculating {
				font-weight: bold;			
			}

			.spinner {
			    margin: 20px;
			    	border: 7px solid gray;
				    border-top: 7px solid black;
				    border-radius: 50%;
				    width: 35px;
				    height: 35px;
				    animation: spinning 1.5s linear infinite;
			    .step2 & {
			    	display: block;
			    }
			}

			.couple_mins {
				font-size: 20px;
				.step1 &, .step3a & {
					display: none;
				}
				.step2 & {
					margin-top: 0;
					@include flex_g;
				}
			}
		}

	}
}

.game_cont {
	&.step1 {
		
	}

	&.step2 {
		input, form {
			display: none !important;
		}

		.num_tit {
			@include flex_g;
		}
	}
}


@keyframes spinning {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}